html, body {
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

#author {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: rgb(115, 28, 178);
}

#title-head {
    margin: 0;
    text-align: center;
    padding: 10px;
    font-weight: 200;
    line-height: 100%;
    color: rgb(115, 28, 178);
}

#menu {
    display: flex;
    padding: 10px;
    justify-content:space-around;
}

#menu p, a{
    padding: 5px;
    color: rgb(115, 28, 178);
    font-size: 15px;
    text-decoration: none;
}

#menu p:hover {
    color: rgb(255, 0, 0);
    cursor:pointer;
}

#menu a:hover {
    color: rgb(255, 0, 0);
    cursor:pointer;
}

#abstract {
    padding: 40px;
    text-align: justify;
}