html, body {
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

#email:hover {
    color: red;
}

#author {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: rgb(115, 28, 178);
}

#summary {
    margin: 40px;
    text-align: center;
}

#title-head {
    margin: 0;
    text-align: center;
    padding: 10px;
    font-weight: 200;
    line-height: 100%;
    color: rgb(115, 28, 178);
}

#menu {
    display: flex;
    padding: 10px;
    justify-content:space-around;
}

#menu p, a{
    padding: 5px;
    color: rgb(115, 28, 178);
    font-size: 15px;
    text-decoration: none;
}

#menu p:hover {
    color: rgb(255, 0, 0);
    cursor:pointer;
}

#menu a:hover {
    color: rgb(255, 0, 0);
    cursor:pointer;
}

#main-content {
    padding: 40px;
}
#main-content figure > img{
    width: 100%;
}
#main-content strong,a{
    padding: 0;
    margin: 0;
}
#btn {
    /* padding: 12px; */
    text-align: center;
    border: 2px dashed rgb(115, 28, 178);
    background-color: white;
    width: 10%;
    margin: auto;
}

#btn:hover {
    background-color: red;
}
#btn:hover a {
    color: white;
}
#btn a {
    color: rgb(115, 28, 178);
    font-weight: 600;
}